<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<array>
        <dict>
            <key>安庆</key>
            <string>101220601</string>
        </dict>
        <dict>
            <key>鞍山</key>
            <string>101070301</string>
        </dict>
	</array>
	<key>b</key>
	<array>
        <dict>
            <key>宝鸡</key>
            <string>101110901</string>
        </dict>
        <dict>
            <key>包头</key>
            <string>101080201</string>
        </dict>
        <dict>
            <key>北海</key>
            <string>101301301</string>
        </dict>
        <dict>
            <key>北京</key>
            <string>101010100</string>
        </dict>
        <dict>
            <key>蚌埠</key>
            <string>101220201</string>
        </dict>
        <dict>
            <key>滨州</key>
            <string>101121101</string>
        </dict>
	</array>
	<key>c</key>
	<array>
        <dict>
            <key>沧州</key>
            <string>101090701</string>
        </dict>
        <dict>
            <key>长春</key>
            <string>101060101</string>
        </dict>
        <dict>
            <key>常德</key>
            <string>101250601</string>
        </dict>
        <dict>
            <key>长沙</key>
            <string>101250101</string>
        </dict>
        <dict>
            <key>常州</key>
            <string>101191101</string>
        </dict>
        <dict>
            <key>潮州</key>
            <string>101281501</string>
        </dict>
        <dict>
            <key>承德</key>
            <string>101090402</string>
        </dict>
        <dict>
            <key>成都</key>
            <string>101270101</string>
        </dict>
        <dict>
            <key>郴州</key>
            <string>101250501</string>
        </dict>
        <dict>
            <key>重庆</key>
            <string>101040100</string>
        </dict>
        <dict>
            <key>滁州</key>
            <string>101221101</string>
        </dict>
	</array>
	<key>d</key>
	<array>
        <dict>
            <key>大连</key>
            <string>101070201</string>
        </dict>
        <dict>
            <key>丹东</key>
            <string>101070601</string>
        </dict>
        <dict>
            <key>大庆</key>
            <string>101050901</string>
        </dict>
        <dict>
            <key>大同</key>
            <string>101100201</string>
        </dict>
        <dict>
            <key>德阳</key>
            <string>101272001</string>
        </dict>
        <dict>
            <key>德州</key>
            <string>101120401</string>
        </dict>
        <dict>
            <key>东莞</key>
            <string>101281601</string>
        </dict>
        <dict>
            <key>东营</key>
            <string>101121201</string>
        </dict>
	</array>
	<key>e</key>
	<array>
        <dict>
            <key>鄂尔多斯</key>
            <string>101080701</string>
        </dict>
        <dict>
            <key>鄂州</key>
            <string>101200301</string>
        </dict>
	</array>
	<key>f</key>
	<array>
        <dict>
            <key>佛山</key>
            <string>101280800</string>
        </dict>
        <dict>
            <key>抚顺</key>
            <string>101070401</string>
        </dict>
        <dict>
            <key>阜阳</key>
            <string>101220801</string>
        </dict>
        <dict>
            <key>福州</key>
            <string>101230101</string>
        </dict>
	</array>
	<key>g</key>
	<array>
        <dict>
            <key>赣州</key>
            <string>101240701</string>
        </dict>
        <dict>
            <key>广州</key>
            <string>101280101</string>
        </dict>
        <dict>
            <key>桂林</key>
            <string>101300501</string>
        </dict>
        <dict>
            <key>贵阳</key>
            <string>101260101</string>
        </dict>
	</array>
	<key>h</key>
	<array>
        <dict>
            <key>哈尔滨</key>
            <string>101050101</string>
        </dict>
        <dict>
            <key>海口</key>
            <string>101310101</string>
        </dict>
        <dict>
            <key>邯郸</key>
            <string>101091001</string>
        </dict>
        <dict>
            <key>杭州</key>
            <string>101210101</string>
        </dict>
        <dict>
            <key>合肥</key>
            <string>101220101</string>
        </dict>
        <dict>
            <key>鹤岗</key>
            <string>101051201</string>
        </dict>
        <dict>
            <key>衡阳</key>
            <string>101250401</string>
        </dict>
        <dict>
            <key>河源</key>
            <string>101281201</string>
        </dict>
        <dict>
            <key>淮安</key>
            <string>101190901</string>
        </dict>
        <dict>
            <key>淮北</key>
            <string>101221201</string>
        </dict>
        <dict>
            <key>淮南</key>
            <string>101220401</string>
        </dict>
        <dict>
            <key>黄石</key>
            <string>101200601</string>
        </dict>
        <dict>
            <key>呼和浩特</key>
            <string>101080101</string>
        </dict>
        <dict>
            <key>惠州</key>
            <string>101280301</string>
        </dict>
        <dict>
            <key>葫芦岛</key>
            <string>101071401</string>
        </dict>
        <dict>
            <key>湖州</key>
            <string>101210201</string>
        </dict>
	</array>
	<key>j</key>
	<array>
        <dict>
            <key>江门</key>
            <string>101281101</string>
        </dict>
        <dict>
            <key>焦作</key>
            <string>101181101</string>
        </dict>
        <dict>
            <key>嘉兴</key>
            <string>101210301</string>
        </dict>
        <dict>
            <key>揭阳</key>
            <string>101281901</string>
        </dict>
        <dict>
            <key>吉林</key>
            <string>101060201</string>
        </dict>
        <dict>
            <key>济南</key>
            <string>101120101</string>
        </dict>
        <dict>
            <key>荆门</key>
            <string>101201401</string>
        </dict>
        <dict>
            <key>金华</key>
            <string>101210901</string>
        </dict>
        <dict>
            <key>济宁</key>
            <string>101120701</string>
        </dict>
        <dict>
            <key>晋江</key>
            <string>101230509</string>
        </dict>
        <dict>
            <key>晋中</key>
            <string>101100401</string>
        </dict>
        <dict>
            <key>锦州</key>
            <string>101070701 </string>
        </dict>
        <dict>
            <key>九江</key>
            <string>101240201</string>
        </dict>
	</array>
	<key>k</key>
	<array>
        <dict>
            <key>开封</key>
            <string>101180801</string>
        </dict>
        <dict>
            <key>昆明</key>
            <string>101290101</string>
        </dict>
        <dict>
            <key>昆山</key>
            <string>101290101</string>
        </dict>
	</array>
	<key>l</key>
	<array>
        <dict>
            <key>莱芜</key>
            <string>101121601</string>
        </dict>
        <dict>
            <key>廊坊</key>
            <string>101090601</string>
        </dict>
        <dict>
            <key>兰州</key>
            <string>101160101</string>
        </dict>
        <dict>
            <key>连云港</key>
            <string>101191001</string>
        </dict>
        <dict>
            <key>聊城</key>
            <string>101121701</string>
        </dict>
        <dict>
            <key>临汾</key>
            <string>101100701</string>
        </dict>
        <dict>
            <key>丽水</key>
            <string>101210801</string>
        </dict>
        <dict>
            <key>柳州</key>
            <string>101300301</string>
        </dict>
        <dict>
            <key>龙岩</key>
            <string>101230701</string>
        </dict>
        <dict>
            <key>六安</key>
            <string>101221501</string>
        </dict>
        <dict>
            <key>漯河</key>
            <string>101181501</string>
        </dict>
        <dict>
            <key>洛阳</key>
            <string>101180901</string>
        </dict>
        <dict>
            <key>泸州</key>
            <string>101271001</string>
        </dict>
	</array>
	<key>m</key>
	<array>
        <dict>
            <key>茂名</key>
            <string>101282001</string>
        </dict>
        <dict>
            <key>梅州</key>
            <string>101280401</string>
        </dict>
        <dict>
            <key>绵阳</key>
            <string>101270401</string>
        </dict>
	</array>
	<key>n</key>
	<array>
        <dict>
            <key>南昌</key>
            <string>101240101</string>
        </dict>
        <dict>
            <key>南充</key>
            <string>101270501</string>
        </dict>
        <dict>
            <key>南京</key>
            <string>101190101</string>
        </dict>
        <dict>
            <key>南宁</key>
            <string>101300101</string>
        </dict>
        <dict>
            <key>南平</key>
            <string>101230901</string>
        </dict>
        <dict>
            <key>南通</key>
            <string>101190501</string>
        </dict>
        <dict>
            <key>南阳</key>
            <string>101180701</string>
        </dict>
        <dict>
            <key>内江</key>
            <string>101271201</string>
        </dict>
        <dict>
            <key>宁波</key>
            <string>101210401</string>
        </dict>
	</array>
	<key>p</key>
	<array>
        <dict>
            <key>盘锦</key>
            <string>101071301</string>
        </dict>
        <dict>
            <key>平顶山</key>
            <string>101180501</string>
        </dict>
        <dict>
            <key>莆田</key>
            <string>101230401</string>
        </dict>
        <dict>
            <key>濮阳</key>
            <string>101181301</string>
        </dict>
	</array>
	<key>q</key>
	<array>
        <dict>
            <key>青岛</key>
            <string>101120201</string>
        </dict>
        <dict>
            <key>清远</key>
            <string>101281301</string>
        </dict>
        <dict>
            <key>秦皇岛</key>
            <string>101091101</string>
        </dict>
        <dict>
            <key>钦州</key>
            <string>101301101</string>
        </dict>
        <dict>
            <key>琼海</key>
            <string>101310211</string>
        </dict>
        <dict>
            <key>齐齐哈尔</key>
            <string>101050201</string>
        </dict>
        <dict>
            <key>泉州</key>
            <string>101230501</string>
        </dict>
        <dict>
            <key>衢州</key>
            <string>101211001</string>
        </dict>
	</array>
	<key>r</key>
	<array>
        <dict>
            <key>日照</key>
            <string>101121501</string>
        </dict>
	</array>
	<key>s</key>
	<array>
        <dict>
            <key>三亚</key>
            <string>101310201</string>
        </dict>
        <dict>
            <key>上海</key>
            <string>101020100</string>
        </dict>
        <dict>
            <key>汕头</key>
            <string>101280501</string>
        </dict>
        <dict>
            <key>汕尾</key>
            <string>101282101</string>
        </dict>
        <dict>
            <key>韶关</key>
            <string>101282101</string>
        </dict>
        <dict>
            <key>绍兴</key>
            <string>101210501</string>
        </dict>
        <dict>
            <key>邵阳</key>
            <string>101250901</string>
        </dict>
        <dict>
            <key>沈阳</key>
            <string>101070101</string>
        </dict>
        <dict>
            <key>深圳</key>
            <string>101280601</string>
        </dict>
        <dict>
            <key>石家庄</key>
            <string>101090101</string>
        </dict>
        <dict>
            <key>十堰</key>
            <string>101201101</string>
        </dict>
        <dict>
            <key>随州</key>
            <string>101201301</string>
        </dict>
        <dict>
            <key>苏州</key>
            <string>101190401</string>
        </dict>
	</array>
	<key>t</key>
	<array>
        <dict>
            <key>泰安</key>
            <string>101120801</string>
        </dict>
        <dict>
            <key>太原</key>
            <string>101100101</string>
        </dict>
        <dict>
            <key>泰州</key>
            <string>101191201</string>
        </dict>
        <dict>
            <key>台州</key>
            <string>101210601</string>
        </dict>
        <dict>
            <key>塘沽</key>
            <string>101031100</string>
        </dict>
        <dict>
            <key>唐山</key>
            <string>101090501</string>
        </dict>
        <dict>
            <key>天津</key>
            <string>101030100</string>
        </dict>
        <dict>
            <key>铜陵</key>
            <string>101221301</string>
        </dict>
	</array>
	<key>w</key>
	<array>
        <dict>
            <key>潍坊</key>
            <string>101120601</string>
        </dict>
        <dict>
            <key>威海</key>
            <string>101121301</string>
        </dict>
        <dict>
            <key>渭南</key>
            <string>101121301</string>
        </dict>
        <dict>
            <key>温州</key>
            <string>101210701</string>
        </dict>
        <dict>
            <key>武汉</key>
            <string>101200101</string>
        </dict>
        <dict>
            <key>芜湖</key>
            <string>101220301</string>
        </dict>
        <dict>
            <key>乌鲁木齐</key>
            <string>101130101</string>
        </dict>
        <dict>
            <key>无锡</key>
            <string>101190201</string>
        </dict>
        <dict>
            <key>梧州</key>
            <string>101300601</string>
        </dict>
	</array>
	<key>x</key>
	<array>
        <dict>
            <key>厦门</key>
            <string>101230201</string>
        </dict>
        <dict>
            <key>西安</key>
            <string>101110101</string>
        </dict>
        <dict>
            <key>襄樊</key>
            <string>101200201</string>
        </dict>
        <dict>
            <key>湘潭</key>
            <string>101250201</string>
        </dict>
        <dict>
            <key>咸宁</key>
            <string>101200701</string>
        </dict>
        <dict>
            <key>咸阳</key>
            <string>101110200</string>
        </dict>
        <dict>
            <key>邢台</key>
            <string>101090901</string>
        </dict>
        <dict>
            <key>西宁</key>
            <string>101150101</string>
        </dict>
        <dict>
            <key>新乡</key>
            <string>101180301</string>
        </dict>
        <dict>
            <key>宣城</key>
            <string>101221401</string>
        </dict>
        <dict>
            <key>许昌</key>
            <string>101180401</string>
        </dict>
        <dict>
            <key>徐州</key>
            <string>101190801</string>
        </dict>
	</array>
	<key>y</key>
	<array>
        <dict>
            <key>盐城</key>
            <string>101190701</string>
        </dict>
        <dict>
            <key>阳江</key>
            <string>101281801</string>
        </dict>
        <dict>
            <key>阳泉</key>
            <string>101100301</string>
        </dict>
        <dict>
            <key>扬州</key>
            <string>101190601</string>
        </dict>
        <dict>
            <key>烟台</key>
            <string>101120501</string>
        </dict>
        <dict>
            <key>宜昌</key>
            <string>101200901</string>
        </dict>
        <dict>
            <key>银川</key>
            <string>101170101</string>
        </dict>
        <dict>
            <key>岳阳</key>
            <string>101251001</string>
        </dict>
        <dict>
            <key>云浮</key>
            <string>101281401</string>
        </dict>
        <dict>
            <key>玉林</key>
            <string>101300901</string>
        </dict>
        <dict>
            <key>玉林</key>
            <string>101290701</string>
        </dict>
	</array>
	<key>z</key>
	<array>
        <dict>
            <key>湛江</key>
            <string>101281001</string>
        </dict>
        <dict>
            <key>肇庆</key>
            <string>101280901</string>
        </dict>
        <dict>
            <key>郑州</key>
            <string>101180101</string>
        </dict>
        <dict>
            <key>镇江</key>
            <string>101190301</string>
        </dict>
        <dict>
            <key>中山</key>
            <string>101281701</string>
        </dict>
        <dict>
            <key>舟山</key>
            <string>101211101</string>
        </dict>
        <dict>
            <key>珠海</key>
            <string>101280701</string>
        </dict>
        <dict>
            <key>株洲</key>
            <string>101250301</string>
        </dict>
        <dict>
            <key>淄博</key>
            <string>101120301</string>
        </dict>
        <dict>
            <key>自贡</key>
            <string>101270301</string>
        </dict>
	</array>
</dict>
</plist>
