<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>安庆市</key>
	<string>101220601</string>
	<key>鞍山市</key>
	<string>101070301</string>
	<key>宝鸡市</key>
	<string>101110901</string>
	<key>包头市</key>
	<string>101080201</string>
	<key>北海市</key>
	<string>101301301</string>
	<key>北京市</key>
	<string>101010100</string>
	<key>蚌埠市</key>
	<string>101220201</string>
	<key>滨州市</key>
	<string>101121101</string>
	<key>沧州市</key>
	<string>101090701</string>
	<key>长春市</key>
	<string>101060101</string>
	<key>常德市</key>
	<string>101250601</string>
	<key>长沙市</key>
	<string>101250101</string>
	<key>常州市</key>
	<string>101191101</string>
	<key>潮州市</key>
	<string>101281501</string>
	<key>承德市</key>
	<string>101090402</string>
	<key>成都市</key>
	<string>101270101</string>
	<key>郴州市</key>
	<string>101250501</string>
	<key>重庆市</key>
	<string>101040100</string>
	<key>滁州市</key>
	<string>101221101</string>
	<key>大连市</key>
	<string>101070201</string>
	<key>丹东市</key>
	<string>101070601</string>
	<key>大庆市</key>
	<string>101050901</string>
	<key>大同市</key>
	<string>101100201</string>
	<key>德阳市</key>
	<string>101272001</string>
	<key>德州市</key>
	<string>101120401</string>
	<key>东莞市</key>
	<string>101281601</string>
	<key>东营市</key>
	<string>101121201</string>
	<key>鄂尔多斯市</key>
	<string>101080701</string>
	<key>鄂州市</key>
	<string>101200301</string>
	<key>佛山市</key>
	<string>101280800</string>
	<key>抚顺市</key>
	<string>101070401</string>
	<key>阜阳市</key>
	<string>101220801</string>
	<key>福州市</key>
	<string>101230101</string>
	<key>赣州市</key>
	<string>101240701</string>
	<key>广州市</key>
	<string>101280101</string>
	<key>桂林市</key>
	<string>101300501</string>
	<key>贵阳市</key>
	<string>101260101</string>
	<key>哈尔滨市</key>
	<string>101050101</string>
	<key>海口市</key>
	<string>101310101</string>
	<key>邯郸市</key>
	<string>101091001</string>
	<key>杭州市</key>
	<string>101210101</string>
	<key>合肥市</key>
	<string>101220101</string>
	<key>鹤岗市</key>
	<string>101051201</string>
	<key>衡阳市</key>
	<string>101250401</string>
	<key>河源市</key>
	<string>101281201</string>
	<key>淮安市</key>
	<string>101190901</string>
	<key>淮北市</key>
	<string>101221201</string>
	<key>淮南市</key>
	<string>101220401</string>
	<key>黄石市</key>
	<string>101200601</string>
	<key>呼和浩特市</key>
	<string>101080101</string>
	<key>惠州市</key>
	<string>101280301</string>
	<key>葫芦岛市</key>
	<string>101071401</string>
	<key>湖州市</key>
	<string>101210201</string>
	<key>江门市</key>
	<string>101281101</string>
	<key>焦作市</key>
	<string>101181101</string>
	<key>嘉兴市</key>
	<string>101210301</string>
	<key>揭阳市</key>
	<string>101281901</string>
	<key>济南市</key>
	<string>101120101</string>
	<key>荆门市</key>
	<string>101201401</string>
	<key>金华市</key>
	<string>101210901</string>
	<key>济宁市</key>
	<string>101120701</string>
	<key>晋江市</key>
	<string>101230509</string>
	<key>晋中市</key>
	<string>101100401</string>
	<key>锦州市</key>
	<string>101070701 </string>
	<key>九江市</key>
	<string>101240201</string>
	<key>开封市</key>
	<string>101180801</string>
	<key>昆明市</key>
	<string>101290101</string>
	<key>昆山市</key>
	<string>101290101</string>
	<key>莱芜市</key>
	<string>101121601</string>
	<key>廊坊市</key>
	<string>101090601</string>
	<key>兰州市</key>
	<string>101160101</string>
	<key>连云港市</key>
	<string>101191001</string>
	<key>聊城市</key>
	<string>101121701</string>
	<key>临汾市</key>
	<string>101100701</string>
	<key>丽水市</key>
	<string>101210801</string>
	<key>柳州市</key>
	<string>101300301</string>
	<key>龙岩市</key>
	<string>101230701</string>
	<key>六安市</key>
	<string>101221501</string>
	<key>漯河市</key>
	<string>101181501</string>
	<key>洛阳市</key>
	<string>101180901</string>
	<key>泸州市</key>
	<string>101271001</string>
	<key>茂名市</key>
	<string>101282001</string>
	<key>梅州市</key>
	<string>101280401</string>
	<key>绵阳市</key>
	<string>101270401</string>
	<key>南昌市</key>
	<string>101240101</string>
	<key>南充市</key>
	<string>101270501</string>
	<key>南京市</key>
	<string>101190101</string>
	<key>南宁市</key>
	<string>101300101</string>
	<key>南平市</key>
	<string>101230901</string>
	<key>南通市</key>
	<string>101190501</string>
	<key>南阳市</key>
	<string>101180701</string>
	<key>内江市</key>
	<string>101271201</string>
	<key>宁波市</key>
	<string>101210401</string>
	<key>盘锦市</key>
	<string>101071301</string>
	<key>平顶山市</key>
	<string>101180501</string>
	<key>莆田市</key>
	<string>101230401</string>
	<key>濮阳市</key>
	<string>101181301</string>
	<key>青岛市</key>
	<string>101120201</string>
	<key>清远市</key>
	<string>101281301</string>
	<key>秦皇岛市</key>
	<string>101091101</string>
	<key>钦州市</key>
	<string>101301101</string>
	<key>琼海市</key>
	<string>101310211</string>
	<key>齐齐哈尔市</key>
	<string>101050201</string>
	<key>泉州市</key>
	<string>101230501</string>
	<key>衢州市</key>
	<string>101211001</string>
	<key>日照市</key>
	<string>101121501</string>
	<key>三亚市</key>
	<string>101310201</string>
	<key>上海市</key>
	<string>101020100</string>
	<key>汕头市</key>
	<string>101280501</string>
	<key>汕尾市</key>
	<string>101282101</string>
	<key>韶关市</key>
	<string>101282101</string>
	<key>绍兴市</key>
	<string>101210501</string>
	<key>邵阳市</key>
	<string>101250901</string>
	<key>沈阳市</key>
	<string>101070101</string>
	<key>深圳市</key>
	<string>101280601</string>
	<key>石家庄市</key>
	<string>101090101</string>
	<key>十堰市</key>
	<string>101201101</string>
	<key>随州市</key>
	<string>101201301</string>
	<key>苏州市</key>
	<string>101190401</string>
	<key>泰安市</key>
	<string>101120801</string>
	<key>太原市</key>
	<string>101100101</string>
	<key>泰州市</key>
	<string>101191201</string>
	<key>台州市</key>
	<string>101210601</string>
	<key>塘沽市</key>
	<string>101031100</string>
	<key>唐山市</key>
	<string>101090501</string>
	<key>天津市</key>
	<string>101030100</string>
	<key>铜陵市</key>
	<string>101221301</string>
	<key>潍坊市</key>
	<string>101120601</string>
	<key>威海市</key>
	<string>101121301</string>
	<key>渭南市</key>
	<string>101121301</string>
	<key>温州市</key>
	<string>101210701</string>
	<key>武汉市</key>
	<string>101200101</string>
	<key>芜湖市</key>
	<string>101220301</string>
	<key>乌鲁木齐市</key>
	<string>101130101</string>
	<key>无锡市</key>
	<string>101190201</string>
	<key>梧州市</key>
	<string>101300601</string>
	<key>厦门市</key>
	<string>101230201</string>
	<key>西安市</key>
	<string>101110101</string>
	<key>襄樊市</key>
	<string>101200201</string>
	<key>湘潭市</key>
	<string>101250201</string>
	<key>咸宁市</key>
	<string>101200701</string>
	<key>咸阳市</key>
	<string>101110200</string>
	<key>邢台市</key>
	<string>101090901</string>
	<key>西宁市</key>
	<string>101150101</string>
	<key>新乡市</key>
	<string>101180301</string>
	<key>宣城市</key>
	<string>101221401</string>
	<key>许昌市</key>
	<string>101180401</string>
	<key>徐州市</key>
	<string>101190801</string>
	<key>盐城市</key>
	<string>101190701</string>
	<key>阳江市</key>
	<string>101281801</string>
	<key>阳泉市</key>
	<string>101100301</string>
	<key>扬州市</key>
	<string>101190601</string>
	<key>烟台市</key>
	<string>101120501</string>
	<key>宜昌市</key>
	<string>101200901</string>
	<key>银川市</key>
	<string>101170101</string>
	<key>岳阳市</key>
	<string>101251001</string>
	<key>云浮市</key>
	<string>101281401</string>
	<key>玉林</key>
	<string>101300901</string>
	<key>玉林市</key>
	<string>101290701</string>
	<key>湛江市</key>
	<string>101281001</string>
	<key>肇庆市</key>
	<string>101280901</string>
	<key>郑州市</key>
	<string>101180101</string>
	<key>镇江市</key>
	<string>101190301</string>
	<key>中山市</key>
	<string>101281701</string>
	<key>舟山市</key>
	<string>101211101</string>
	<key>珠海市</key>
	<string>101280701</string>
	<key>株洲市</key>
	<string>101250301</string>
	<key>淄博市</key>
	<string>101120301</string>
	<key>自贡市</key>
	<string>101270301</string>
</dict>
</plist>
